# Multi-variable Linear Regression 
This notebook will gives a knowledge about multi-variable LR both manually and with scikit-learn module.
First, we have to import the module first.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn import preprocessing

After importing the data about real estate, we will predict the house pricing through the six variables, as shown below.

In [2]:
# importing data
df = pd.read_csv('Real-estate1.csv')
df.drop('No', inplace = True,axis=1)
  
print(df.head())
print(df.columns)

   X1 transaction date  X2 house age  X3 distance to the nearest MRT station  \
0             2012.917          32.0                                84.87882
1             2012.917          19.5                               306.59470
2             2013.583          13.3                               561.98450
3             2013.500          13.3                               561.98450
4             2012.833           5.0                               390.56840

   X4 number of convenience stores  X5 latitude  X6 longitude  \
0                               10     24.98298     121.54024
1                                9     24.98034     121.53951
2                                5     24.98746     121.54391
3                                5     24.98746     121.54391
4                                5     24.97937     121.54245

   Y house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1
Index(['X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

Because all the variable and target still converge in 1 data frame, we separate it first.

In [3]:
# creating feature variables
X = df.drop('Y house price of unit area',axis= 1)
y = df['Y house price of unit area']
print(X)
print(y)

     X1 transaction date  X2 house age  \
0               2012.917          32.0
1               2012.917          19.5
2               2013.583          13.3
3               2013.500          13.3
4               2012.833           5.0
..                   ...           ...
409             2013.000          13.7
410             2012.667           5.6
411             2013.250          18.8
412             2013.000           8.1
413             2013.500           6.5

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                  84.87882                               10
1                                 306.59470                                9
2                                 561.98450                                5
3                                 561.98450                                5
4                                 390.56840                                5
..                                      ...                              ...
409                              4082.01500                                0
410                                90.45606                                9
411                               390.96960                                7
412                               104.81010                                5
413                                90.45606                                9

     X5 latitude  X6 longitude
0       24.98298     121.54024
1       24.98034     121.53951
2       24.98746     121.54391
3       24.98746     121.54391
4       24.97937     121.54245
..           ...           ...
409     24.94155     121.50381
410     24.97433     121.54310
411     24.97923     121.53986
412     24.96674     121.54067
413     24.97433     121.54310

[414 rows x 6 columns]
0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

In [20]:
Model = LinearRegression()
Model.fit(X_train, y_train)

Model.coef_, Model.intercept_

(array([ 5.06414221e+00, -2.83627390e-01, -4.81454698e-03,  1.00267145e+00,
         2.30625349e+02, -2.54512413e+01]),
 -12815.542837714267)

In [21]:
predictions = Model.predict(X_test)
predictions

array([13.36200709, 10.46702902, 21.1309444 , 47.51821861, 32.19604529,
       38.29484911, 35.6601396 , 41.19990963, 47.71302799, 40.07561216,
       45.02931772, 33.19025175, 41.68856441, 35.93619794, 43.53760772,
       45.52775148, 39.76828142, 44.54567674, 48.02668394, 44.89412847,
       43.68952256, 54.14326792, 47.93998304, 37.30552851, 34.39726048,
       48.1890637 , 40.48530867, 49.51891453, 46.66380666, 39.81558938,
       47.34917303, 40.58522657, 45.03432956, 44.20805178, 46.42068741,
        8.60581282, 39.49449402, 40.77973144,  8.96941114, 54.9763222 ,
       32.34268168, 48.82636539, 25.91343282, 47.69340627, 40.42562406,
       50.27322481, 42.37967759, 38.00524935, 43.52778567, 36.60913578,
       47.14896225, 34.34219138, 43.79283299, 16.79084146, 38.09559746,
       48.57761705, 44.35772909, 44.10136466, 45.3481875 , 40.26076485,
       35.63392053, 45.39676575, 42.18649771, 43.33314043, 53.00620842,
       44.12043985, 24.0143795 , 46.91423046, 31.93471132, 41.5059515 ,
       42.31350315, 48.14951973, 16.34297728, 36.69607206, 13.4384423 ,
       41.98196035, 35.28664783, 45.43029447, 43.49115878, 12.80406819,
       46.82258586, 38.69235341, 44.21315679, 27.28928522, 51.95472125,
       16.80372513, 37.50835693, 31.52603923, 38.45259525, 13.61745317,
       46.45721009, 34.24368291, 42.79275719, 25.20180934, 32.01913264,
       31.31919858, 22.39121165, 44.47705883, 29.34436425, 37.37393337,
       45.79033444, 30.49161802, 38.30525077, 40.74608318, 48.55222214,
       28.89246056, 26.40322782, 31.29962769, 34.03957169, 40.19326551,
       46.50371791, 44.99703805, 48.91379742, 35.42361735, 46.06018488,
       41.43093832, 42.90826741, 47.28764004, 41.83234216, 44.86698897,
       51.41722633, 40.70447496, 31.27696349, 16.83208787, 35.25460375,
       34.60626834, 15.60304605, 42.8191061 , 49.70278369, 42.56596903,
       26.84246972, 40.64884365, 46.41143536, 48.97254594, 54.53522898,
       38.0094402 , 34.73676558, 44.1307302 , 44.49516503, 37.55762076,
       33.57392905, 47.47291406, 31.44145971, 47.42067506, 34.82502086,
       39.60635045, 15.58491787, 33.58221282, 36.93589475, 27.48634122,
       47.01863299, 46.7010574 , 30.56288552, 32.6959086 , 46.07832997,
       35.31112615, 46.31570905, 31.89171956, 45.88800144, 12.92996972,
       51.36104945, 46.85852916, 47.99670852, 52.95472726, 41.333921  ,
       50.18010211])

In [22]:
# model evaluation
print('mean_squared_error : ', mean_squared_error(y_test, predictions))
print('mean_absolute_error : ', mean_absolute_error(y_test, predictions))

mean_squared_error :  52.210965481447374
mean_absolute_error :  5.466522594038082

In [23]:
Model.score(X_test, y_test, sample_weight=None)

0.6584013936695442